﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GenerateVouchers.aspx.cs" Inherits="GenerateVouchers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <asp:Label ID="lbltotalstudent" runat="server"></asp:Label><br />
      <asp:Label ID="lblMarchVouchers" runat="server" Text="0"></asp:Label><br />
      <asp:TextBox ID="txtinstanceid" runat="server"></asp:TextBox> 
        <asp:Button ID="btnst" runat="server" Text="Get instanceid Info" OnClick="btnst_Click" />

        <asp:Button ID="btngent" runat="server" Text="Generate Vouchers" OnClick="btngent_Click" />
        <br /><br /><br /><br /><br />
         <asp:Label ID="Label1" runat="server" Style="color:green; font:bold"  Text="Completed Successfully" Visible="false"></asp:Label><br />

    </div>
    </form>
</body>
</html>
