﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="viewprofile.aspx.cs" Inherits="viewprofile" %>
<%@ Register Src="~/WebApplication1/userprofile.ascx" TagName="contractuserprofile" TagPrefix="uc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Profile</title>
     <script src="_assets/jquery-1.9.1.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="scmang" runat="server"></asp:ScriptManager>
    <div>
    <uc1:contractuserprofile ID="contractuserprofile" runat="server" />
    </div>
    </form>
</body>
</html>
