﻿* { margin: 0; padding: 0; }
img{ border: 0; }
.clearboth{ clear: both; }
td{ vertical-align: top; }
html{ height: 100%; }
a:hover, a:active, a:focus, a:active{ outline: none; -moz-outline-style: none; }

body{ background: #fff; font: 13px/16px arial, helvetica, sans-serif; }

#loadingImage{position: fixed; z-index: 1000; top:0; left: 0; width: 100%; height: 26px; background: url(../../main/Control_Panel/Assets/images/loading.gif) no-repeat 50% 0; overflow: hidden; }
* html #loadingImage{ position: absolute; }

#header{ height: 70px; background: #fff; border-bottom: 1px solid #b5d1e6; overflow: hidden; }
#header a{ color: #0078c5; text-decoration: underline; }
#header a#avaimaLogo{ position: absolute; margin: 15px 0 0 10px; display: block; width: 155px; height: 42px; background: url(../../main/Control_Panel/Assets/images/AVAIMA-Logo.jpg) no-repeat; text-decoration: none; }
#rightLinks{ position: absolute; right: 0; margin: 5px 0 0 0; text-align: right; padding: 0 10px 0 0; z-index: 2; }
#topMostNav{ position: absolute; margin: 5px 0 0 195px; }
#identityDetails{ position: absolute; width: 395px; height: 35px; right: 0; margin: 30px 10px 0 0; text-align: right; line-height: 15px; }
#identityDetails #usersName{ float: right; width: 190px; height: 34px; line-height: 16px; overflow: hidden; }
#identityDetails #usersImage{ float: right; max-width: 190px; height: 35px; margin: 0 0 0 9px; overflow: hidden; }
#headerSearchInput{ float: left; font: 13px/15px arial, helvetica, sans-serif; width: 228px; height: 17px; padding: 3px 3px 1px 3px; border: 1px solid #a5a5a5; border-right: none; }
#topSearch{ position: absolute; margin: 38px 0 0 195px; z-index: 1; }
#searchFieldContainer{ float: left; }

.ContractEndPnkBg{ background-color:#fee2d3 !important;}

.ContractStartGrnBg{ background-color:#ddf5cb !important;}

#bodyWrapper{ border: 5px solid #b5d1e6; }
#bodyWrapperTable{ width: 100%; }
.leftSection{ width: 175px; background: #e0eef8; border-right: 5px solid #b5d1e6; }
.leftSectionMenuWidth{ min-width: 170px; }
#leftSectionMenu a{ display: block; height: 20px; padding: 3px 0 0 13px; background: #fff; color: #000; border-bottom: 1px solid #e0eef8; text-decoration: none; }
#leftSectionMenu a:hover{ background: #f5fbff; }
#leftSectionMenu a.activeMenuItem{ background: #e3ffe0; }
#leftSectionMenu a.groupTitleExpand{ padding-left: 30px; color: #000; background: #fff url(../../main/Control_Panel/Assets/images/expand-left-menu.gif) no-repeat 13px 5px; }
#leftSectionMenu a.groupTitleCollpase{ padding-left: 30px; background: #fff url(../../main/Control_Panel/Assets/images/expand-left-menu.gif) 13px -49px no-repeat; color: #0e2f45; }
#leftSectionMenu a.groupTitleExpand:hover{ background-color: #f5fbff; }
#leftSectionMenu a.groupTitleCollpase:hover{ background-color: #f5fbff; }
#leftSectionMenu .hasSubMenu a{ font-size: 12px; height: 18px; padding: 2px 0 0 30px; color: #567182; }

#rightSection{ width: auto; padding: 0 0 0 0; }
#mainContentDiv{ padding: 0 10px 10px 10px; margin: 12px 0 0 0; }
#inboxCon{ padding: 0 0 10px 0; }
.inboxControls{ margin: 0 0 0 10px; }
.inboxControls .gridControlsTd{ width: auto; padding: 0 0 0 14px; }
#rightSection h1{ font-size: 13px; font-weight: bold; color: #024686; }
#rightSection h2{ font-size: 14px; font-weight: bold; color: #024686; margin: 20px 0 5px 0; }
#rightSection .contentSpacer{ padding: 3px 10px 10px 10px; }
#rightSection .titleStrip{ border-bottom: 1px solid #dedede; padding: 10px 0 10px 0; }
.rtbUL{margin:0px 0px 0px 0px !important;}
#rightSection #mainContentDiv ul{ margin: 15px 0 10px 30px; line-height: 15px; }
#rightSection #mainContentDiv ul li{ margin: 3px 0 0 0;}
#rightSection #mainContentDiv ol{ margin: 15px 0 10px 30px; line-height: 15px; }
#rightSection #mainContentDiv ol li{ margin: 3px 0 0 0; }

/*.subMenu{ height: 28px; padding: 0 0 0 5px; margin: 0 0 12px 0; background: #cceaff; color: #999; }*/
.subMenu{ height: 28px; margin: 2px 5px 12px 5px; background: url(../../main/Control_Panel/Assets/images/submenu.gif) repeat-x 0 27px; color: #999; overflow: hidden; }
.subMenu a{ display: block; float: left; height: 10px; padding: 5px 5px 13px 5px; color: #000; text-decoration: none; }
.subMenu a:hover{ text-decoration: underline; }
.subMenu a.onSubMenu{ background: url(../../main/Control_Panel/Assets/images/icons/submenu-indicator.gif) no-repeat 50% 23px; }
.subMenuSep{ display: block; float: left; margin: 5px 0 0 0; }

.multipleWebsites{ height: 28px; margin: 10px 5px 0px 5px; padding: 0 0 0 5px; border-bottom: 1px solid #b5d1e6; }

.breadCrumb{ font-size: 20px; margin: 10px 0 15px 0; }
.breadCrumb a{ color: #000; text-decoration: none; }
.breadCrumb table td{ vertical-align: middle; }

#adsSection{ width: 200px; border-left: 5px solid #b5d1e6; }

.smallerTable {background: rgb(181, 209, 230);}
.smallerTable td {background: rgb(255, 255, 255); padding: 3px 10px 2px 5px;}
.smallerTable a {color: rgb(0, 0, 0); text-decoration: none;}
.smallerTableTitles td {background: rgb(242, 250, 255);}

.searchResultItem{ border-bottom: 1px solid #dedede; padding: 10px 0 10px 0; }
.searchResultPhotoTd{ width: 110px; }
.searchResultPhotoDiv{ width: 100px; max-height: 150px; overflow: hidden; }
.searchResultExpandPhoto{ width: 100px; }
.searchResultItem p{ margin: 5px 0 3px 0; }
.searchResultInfoTd{ padding: 4px 0 0 0; }

#pageTitle{ padding: 8px 0 7px 10px; background: #1a87cc; border-bottom: 2px solid #cceaff; font-size: 18px; color: #fff; overflow-y: hidden; }
#pageTitle table{ width: 100%; }
#pageTitle small{ font-size: 12px; }
#pageTitle select{ border: 1px solid #fff; }
#pageTitle .secondLevelMenu{ width: auto; height: 19px; font-size: 12px; }
#pageTitle .secondLevelMenu a{ display: block; float: left; padding: 2px 5px 1px 5px; margin: 0 10px 0 0; background: #cceaff; color: #000; text-decoration: none; }
#pageTitle .secondLevelMenu a:hover{ background: #fff; }
#pageTitle .secondLevelMenu .activeSecondLevel{ background: #fff; }

#minuOnePixel{ height: 1px; }

#footer{ background: #1a87cc; border-top: 8px solid #0078c5; }
#footer{ padding: 0 0 0 18px; color: #fff; }
#footerTable{ width: 100%; }
#footerLeftTd{ width: 50%; padding: 10px 0 18px 0; }
#footerRightTd{ width: auto; padding: 10px 18px 18px 0; text-align: right; }
#footer a{ color: #fff; text-decoration: none; }
#footer a:hover{ text-decoration: underline;}

/******************* MENU DROPDOWN BUTTON *******************/
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.0r4
*/
.yui-button{background: url(images/buttons.gif) repeat-x 0 -1px;margin:5px 3px 7px 2px;padding: 3px 6px;}

/*.yui-button{display:-moz-inline-box;display:inline-block;vertical-align:text-bottom; }*/
.yui-button .first-child{display:block;*display:inline-block; height: 21px;overflow: hidden; }
.yui-button button,.yui-button a{display:block;*display:inline-block;border:none;margin:0;}
.yui-button button{background-color:transparent;*overflow:visible;cursor:pointer;}

.yui-skin-sam .yui-button{background:url(images/buttons.gif) repeat-x 0 1px; margin: 0 3px 0 2px; }
.yui-skin-sam .yui-button .first-child{ border: 1px solid #a5a5a5;}
.yui-skin-sam .yui-button button,.yui-skin-sam .yui-button a,.yui-skin-sam .yui-button a:visited{font:13px arial, helvetica, sans-serif; color:#333;}
.yui-skin-sam .yui-split-button button,.yui-skin-sam .yui-menu-button button{ padding: 2px 18px 0 7px; _padding-top: 0; *padding-top: 0; }
@-moz-document url-prefix() { .yui-skin-sam .yui-split-button button,.yui-skin-sam .yui-menu-button button { padding: 1px 14px 0 4px; } } 

.yui-skin-sam .yui-menu-button button{background: url(../../main/Control_Panel/Assets/images/buttons.gif) no-repeat 100% -52px;}
.yui-skin-sam .yui-button-focus .first-child{border-color:#666;}
.yui-skin-sam .yui-button-hover .first-child{border-color:#666;}
.yui-skin-sam .yui-button-active{border-color:#666;background:url(../../main/Control_Panel/Assets/images/buttons.gif) repeat-x 0 -23px;}
.yui-skin-sam .yui-button-active .first-child{border-color:#666;}

.settingsDropDown{ margin: -3px 0 0 0; }
.textualDropDownCon .yui-button{ background:none; margin: 0; }
.textualDropDownCon .yui-button .first-child{ border: 1px solid #fff;}
.textualDropDownCon .yui-button button{font-size:13px; color:#0078c5; text-decoration: underline; }
.textualDropDownCon .yui-menu-button button{ padding-right: 15px; background: url(../../main/Control_Panel/Assets/images/buttons.gif) no-repeat 100% -51px;}
.textualDropDownCon .yui-button-focus .first-child{border-color:#fff;}
.textualDropDownCon .yui-button-hover .first-child{border-color:#fff;}
.textualDropDownCon .yui-button-active{ background:none; }
.textualDropDownCon .yui-button-active{ border-color:#fff;}
#rightLinks .textualDropDownCon a{ color: #000; text-decoration: none; }

.nonSelectingDropDown .yui-button{ background:url(../../main/Control_Panel/Assets/images/buttons.gif) repeat-x 0 0; }
.nonSelectingDropDown .yui-button-active{ background:url(../../main/Control_Panel/Assets/images/buttons.gif) repeat-x 0 -27px; }

.yui-menu-button em.yui-button-label{ display: block; text-align: left; white-space: nowrap; font:normal 13px arial, helvetica, sans-serif; color:#333; }
.dropDownBigButton .yui-button{background:url(../../main/Control_Panel/Assets/images/buttons.gif) repeat-x 0 1px; margin: 0 6px 0 0; }
.dropDownBigButton .yui-button .first-child{ border: 1px solid #a5a5a5; height: 21px; padding: 0 0 0 3px; border-left: 1px solid #ccc; }
.dropDownBigButton .yui-button-focus .first-child{border-color:#666;}
.dropDownBigButton .yui-button-hover .first-child{border-color:#666;}
.dropDownBigButton .yui-button-active{border-color:#666;background:url(../../main/Control_Panel/Assets/images/buttons.gif) repeat-x 0 -26px;}
.dropDownBigButton .yui-button-active .first-child{border-color:#666;}
#header .standardButton{ float: left; }
#header .standardButton .yui-button .first-child{ border: 1px solid #a5a5a5; height: 19px; padding: 2px 6px 0 6px; *padding-top: 0; *height: 21px; }
#header .standardButton .yui-button-active{border-color:#666;background:url(../../main/Control_Panel/Assets/images/buttons.gif) repeat-x 0 -23px;}
#header .standardButton .yui-button-hover .first-child{border-color:#666;}
#header .dropDownBigButton{ float: left; }
#header .dropDownBigButton a{ color: #000; text-decoration: none; }

.yuimenu{top:-999em;left:-999em; }
.yuimenubar{position:static;}
.yuimenu .yuimenu,.yuimenubar .yuimenu{position:absolute;}
.yuimenubar li,.yuimenu li{list-style-type:none; padding: 2px 0 2px 0; }
.yui-menu-shadow{position:absolute;visibility:hidden;z-index:-1;}
.yui-menu-shadow-visible{top:2px;right:-3px;left:-3px;bottom:-3px;visibility:visible;}
.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.yuimenu.show-scrollbars,.yuimenubar.show-scrollbars{overflow:visible;}
.yuimenu.hide-scrollbars .yui-menu-shadow,.yuimenubar.hide-scrollbars .yui-menu-shadow{overflow:hidden;}
.yuimenu.show-scrollbars .yui-menu-shadow,.yuimenubar.show-scrollbars .yui-menu-shadow{overflow:auto;}
.yui-overlay.yui-force-redraw{margin-bottom:1px;}
.yui-skin-sam .yuimenubar{border:solid 1px #808080;background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) repeat-x 0 0;}
.yui-skin-sam .yuimenubarnav .yuimenubaritem{border-right:solid 1px #ccc;}
.yui-skin-sam .yuimenubaritemlabel{padding:0 10px;color:#000;text-decoration:none;cursor:default;border-style:solid;border-color:#808080;border-width:1px 0;*position:relative;margin:-1px 0;}
.yui-skin-sam .yuimenubaritemlabel:visited{color:#000;}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel{padding-right:20px;*display:inline-block;}
.yui-skin-sam .yuimenu{line-height:1.5;*line-height:1.45;}
.yui-skin-sam .yuimenubar .yuimenu,.yui-skin-sam .yuimenu .yuimenu{}
.yui-skin-sam .yuimenu .bd{*zoom:1;_zoom:normal;border:solid 1px #808080;background-color:#fff;font: 13px/16px arial, helvetica, sans-serif; }
.yui-skin-sam .yuimenu .yuimenu .bd{*zoom:normal;}
.yui-skin-sam .yuimenu .yui-menu-body-scrolled{border-color:#ccc #808080;overflow:hidden;}
.yui-skin-sam .yuimenu .topscrollbar,.yui-skin-sam .yuimenu .bottomscrollbar{height:16px;border:solid 1px #808080;background:#fff url(../../main/Control_Panel/Assets/images/icons/sprite.png) no-repeat 0 0;}
.yui-skin-sam .yuimenu .topscrollbar{border-bottom-width:0;background-position:center -950px;}
.yui-skin-sam .yuimenu .topscrollbar_disabled{background-position:center -975px;}
.yui-skin-sam .yuimenu .bottomscrollbar{border-top-width:0;background-position:center -850px;}
.yui-skin-sam .yuimenu .bottomscrollbar_disabled{background-position:center -875px;}
.yui-skin-sam .yuimenuitem{_border-bottom:solid 1px #fff;}
.yui-skin-sam .yuimenuitemlabel{padding:0 9px;color:#000;text-decoration:none;cursor:default;}
.yui-skin-sam .yuimenuitemlabel:visited{color:#000;}
.yui-skin-sam .yuimenuitemlabel .helptext{margin-top:-1.5em;*margin-top:-1.45em;}
.yui-skin-sam .yui-menu-shadow-visible{background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-sam .yuimenuitem-selected{background-color:#cceaff;}
.yui-skin-sam .yuimenuitemlabel-disabled,.yui-skin-sam .yuimenuitemlabel-disabled:visited{cursor:default;color:#a6a6a6;}
.yuimenuitemlabel,.yuimenubaritemlabel{text-align:left;white-space:nowrap;}
.yuimenubaritemlabel,.yuimenuitemlabel{display:block;}

.yui-skin-sam .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0;border-color:#808080;z-index:1;*border-width:1px;*zoom:1;_zoom:normal;}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{border-style:solid;border-width:0 1px;border-color:#808080;margin:0 -1px;*margin:0;*border:0;}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{background-color:#F2F2F2;}
.yui-skin-sam .yui-panel .hd{padding:0 10px;font-size:93%;line-height:2;*line-height:1.9;font-weight:bold;color:#000;background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) repeat-x 0 -200px;}
.yui-skin-sam .yui-panel .bd{padding:10px;}
.yui-skin-sam .yui-panel .ft{border-top:solid 1px #808080;padding:5px 10px;font-size:77%;}

.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.mask{z-index:1;display:none;position:absolute;top:0;left:0;right:0;bottom:0;}
.mask.block-scrollbars{overflow:auto;}
.masked select,.drag select,.hide-select select{_visibility:hidden;}
.yui-panel-container select{_visibility:inherit;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.show-scrollbars{overflow:auto;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow{overflow:auto;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}
.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}
.yui-tt-shadow{position:absolute;}
.yui-override-padding{padding:0!important;}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.yui-skin-sam .mask{background-color:#000;opacity:.25;filter:alpha(opacity=25);}
.yui-skin-sam .yui-panel-container{padding:0 1px;*padding:2px;}
.yui-skin-sam .yui-panel{position:relative;left:0;top:0;border-style:solid;border-width:1px 0; border-color:#005c97; z-index:1; *border-width:1px;*zoom:1;_zoom:normal;}
.yui-skin-sam .yui-panel .hd,.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft{ border-style:solid; border-width:0 1px; border-color:#005c97; margin:0 -1px; *margin:0; *border:0; }
.yui-skin-sam .yui-panel .hd{border-bottom:solid 1px #ccc;}
.yui-skin-sam .yui-panel .bd,.yui-skin-sam .yui-panel .ft {background-color:#fff;}
.yui-skin-sam .yui-panel .hd{ padding: 5px 12px 5px 12px; font-size:13px; line-height:18px; font-weight:bold; color:#fff; background: #1a87cc;}
.yui-skin-sam .yui-panel .bd{ padding:12px 12px 12px 12px; font-size:13px; }
.yui-skin-sam .container-close{position:absolute; top:7px; right:15px; width:25px; height:15px; background:url(../../main/Control_Panel/Assets/images/icons/close.gif) no-repeat; cursor:pointer; }
.yui-skin-sam .yui-panel-container .underlay{right:-1px;left:-1px;}
.yui-skin-sam .yui-panel-container.matte{padding:9px 10px;background-color:#fff;}
.yui-skin-sam .yui-panel-container.shadow{_padding:2px 4px 0 2px;}
.yui-skin-sam .yui-panel-container.shadow .underlay{position:absolute;top:2px;left:-2px;right:-2px;bottom:-2px; *top:4px;*left:-1px;*right:-1px;*bottom:-1px;_top:0;_left:0;_right:0;_bottom:0;_margin-top:3px;_margin-left:-1px;background-color:#000;opacity:.12;filter:alpha(opacity=12);}
.yui-skin-sam .yui-tt .bd{ position:relative; top:0px; left:0; z-index:1; color:#000; padding:2px 5px; border-color:#a6982b;; border-width:1px; border-style:solid; background-color:#ffffae; }
.yui-skin-sam .yui-tt.show-scrollbars .bd{overflow:auto;}
.yui-skin-sam .yui-tt-shadow{top:2px;right:-2px;left:-2px;bottom:-2px;background-color:#000;}
.yui-skin-sam .yui-tt-shadow-visible{opacity:.12;filter:alpha(opacity=12);}

.toolTipContent{ max-width: 300px; font-size: 13px; line-height: 16px; padding: 10px; _width: 300px; }

/** Calendar **/
.yui-calcontainer{position:relative;float:left;_overflow:hidden;}
.yui-calcontainer iframe{position:absolute;border:none;margin:0;padding:0;z-index:0;width:100%;height:100%;left:0;top:0;}
.yui-calcontainer iframe.fixedsize{width:50em;height:50em;top:-1px;left:-1px;}
.yui-calcontainer.multi .groupcal{z-index:1;float:left;position:relative;}
.yui-calcontainer .title{position:relative;z-index:1;}
.yui-calcontainer .close-icon{position:absolute;z-index:1;text-indent:-10000em;overflow:hidden;}
.yui-calendar{position:relative;}
.yui-calendar .calnavleft{position:absolute;z-index:1;text-indent:-10000em;overflow:hidden;}
.yui-calendar .calnavright{position:absolute;z-index:1;text-indent:-10000em;overflow:hidden;}
.yui-calendar .calheader{position:relative;width:100%;text-align:center;}
.yui-calcontainer .yui-cal-nav-mask{position:absolute;z-index:2;margin:0;padding:0;width:100%;height:100%;_width:0;_height:0;left:0;top:0;display:none;}
.yui-calcontainer .yui-cal-nav{position:absolute;z-index:3;top:0;display:none;}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn{display:-moz-inline-box;display:inline-block;}
.yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button{display:block;*display:inline-block;*overflow:visible;border:none;background-color:transparent;cursor:pointer;}
.yui-calendar .calbody a:hover{background:inherit;}p#clear{clear:left;padding-top:10px;}
.yui-skin-sam .yui-calcontainer{background-color:#f2f2f2;border:1px solid #808080;padding:10px;}
.yui-skin-sam .yui-calcontainer.multi{padding:0 5px 0 5px;}
.yui-skin-sam .yui-calcontainer.multi .groupcal{background-color:transparent;border:none;padding:10px 5px 10px 5px;margin:0;}
.yui-skin-sam .yui-calcontainer .title{background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) repeat-x 0 0;border-bottom:1px solid #ccc;font:100% sans-serif;color:#000;font-weight:bold;height:auto;padding:.4em;margin:0 -10px 10px -10px;top:0;left:0;text-align:left;}
.yui-skin-sam .yui-calcontainer.multi .title{margin:0 -5px 0 -5px;}
.yui-skin-sam .yui-calcontainer.withtitle{padding-top:0;}
.yui-skin-sam .yui-calcontainer .calclose{background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) no-repeat 0 -300px;width:25px;height:15px;top:.4em;right:.4em;cursor:pointer;}
.yui-skin-sam .yui-calendar{border-spacing:0;border-collapse:collapse;font:100% sans-serif;text-align:center;margin:0;}
.yui-skin-sam .yui-calendar .calhead{background:transparent;border:none;vertical-align:middle;padding:0;}
.yui-skin-sam .yui-calendar .calheader{background:transparent;font-weight:bold;padding:0 0 .6em 0;text-align:center;}
.yui-skin-sam .yui-calendar .calheader img{border:none;}
.yui-skin-sam .yui-calendar .calnavleft{background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) no-repeat 0 -450px;width:25px;height:15px;top:0;bottom:0;left:-10px;margin-left:.4em;cursor:pointer;}
.yui-skin-sam .yui-calendar .calnavright{background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) no-repeat 0 -500px;width:25px;height:15px;top:0;bottom:0;right:-10px;margin-right:.4em;cursor:pointer;}
.yui-skin-sam .yui-calendar .calweekdayrow{height:2em;}
.yui-skin-sam .yui-calendar .calweekdayrow th{padding:0;border:none;}
.yui-skin-sam .yui-calendar .calweekdaycell{color:#000;font-weight:bold;text-align:center;width:2em;}
.yui-skin-sam .yui-calendar .calfoot{background-color:#f2f2f2;}
.yui-skin-sam .yui-calendar .calrowhead,.yui-skin-sam .yui-calendar .calrowfoot{color:#a6a6a6;font-size:85%;font-style:normal;font-weight:normal;border:none;}
.yui-skin-sam .yui-calendar .calrowhead{text-align:right;padding:0 2px 0 0;}
.yui-skin-sam .yui-calendar .calrowfoot{text-align:left;padding:0 0 0 2px;}
.yui-skin-sam .yui-calendar td.calcell{border:1px solid #ccc;background:#fff;padding:1px;height:1.6em;line-height:1.6em;text-align:center;white-space:nowrap;}
.yui-skin-sam .yui-calendar td.calcell a{color:#06c;display:block;height:100%;text-decoration:none;}
.yui-skin-sam .yui-calendar td.calcell.today{background-color:#000;}
.yui-skin-sam .yui-calendar td.calcell.today a{background-color:#fff;}
.yui-skin-sam .yui-calendar td.calcell.oom{background-color:#ccc;color:#a6a6a6;cursor:default;}
.yui-skin-sam .yui-calendar td.calcell.selected{background-color:#fff;color:#000;}
.yui-skin-sam .yui-calendar td.calcell.selected a{background-color:#b3d4ff;color:#000;}
.yui-skin-sam .yui-calendar td.calcell.calcellhover{background-color:#426fd9;color:#fff;cursor:pointer;}
.yui-skin-sam .yui-calendar td.calcell.calcellhover a{background-color:#426fd9;color:#fff;}
.yui-skin-sam .yui-calendar td.calcell.previous{color:#e0e0e0;}
.yui-skin-sam .yui-calendar td.calcell.restricted{text-decoration:line-through;}
.yui-skin-sam .yui-calendar td.calcell.highlight1{background-color:#cf9;}
.yui-skin-sam .yui-calendar td.calcell.highlight2{background-color:#9cf;}
.yui-skin-sam .yui-calendar td.calcell.highlight3{background-color:#fcc;}
.yui-skin-sam .yui-calendar td.calcell.highlight4{background-color:#cf9;}
.yui-skin-sam .yui-calendar a.calnav{border:1px solid #f2f2f2;padding:0 4px;text-decoration:none;color:#000;zoom:1;}
.yui-skin-sam .yui-calendar a.calnav:hover{background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) repeat-x 0 0;border-color:#A0A0A0;cursor:pointer;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-mask{background-color:#000;opacity:.25;filter:alpha(opacity=25);}
.yui-skin-sam .yui-calcontainer .yui-cal-nav{font-family:arial,helvetica,clean,sans-serif;font-size:93%;border:1px solid #808080;left:50%;margin-left:-7em;width:14em;padding:0;top:2.5em;background-color:#f2f2f2;}
.yui-skin-sam .yui-calcontainer.withtitle .yui-cal-nav{top:4.5em;}
.yui-skin-sam .yui-calcontainer.multi .yui-cal-nav{width:16em;margin-left:-8em;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-y,.yui-skin-sam .yui-calcontainer .yui-cal-nav-m,.yui-skin-sam .yui-calcontainer .yui-cal-nav-b{padding:5px 10px 5px 10px;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-b{text-align:center;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-e{margin-top:5px;padding:5px;background-color:#EDF5FF;border-top:1px solid black;display:none;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav label{display:block;font-weight:bold;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-mc{width:100%;_width:auto;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-y input.yui-invalid{background-color:#FFEE69;border:1px solid #000;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav-yc{width:4em;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn{border:1px solid #808080;background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) repeat-x 0 0;background-color:#ccc;margin:auto .15em;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn button{padding:0 8px;font-size:93%;line-height:2;*line-height:1.7;min-height:2em;*min-height:auto;color:#000;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default{border:1px solid #304369;background-color:#426fd9;background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) repeat-x 0 -1400px;}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button{color:#fff;}

.yui-skin-sam .yui-dialog .ft{border-top:none;padding:0 10px 10px 10px;font-size:100%;}
.yui-skin-sam .yui-dialog .ft .button-group{display:block;text-align:right;}
.yui-skin-sam .yui-dialog .ft button.default{font-weight:bold;}
.yui-skin-sam .yui-dialog .ft span.default{border-color:#304369;background-position:0 -1400px;}
.yui-skin-sam .yui-dialog .ft span.default .first-child{border-color:#304369;}
.yui-skin-sam .yui-dialog .ft span.default button{color:#fff;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled{background-position:0 -1500px;border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled .first-child{border-color:#ccc;}
.yui-skin-sam .yui-dialog .ft span.yui-button-disabled button{color:#a6a6a6;}
.yui-skin-sam .yui-simple-dialog .bd .yui-icon{background:url(../../main/Control_Panel/Assets/images/icons/sprite.png) no-repeat 0 0;width:16px;height:16px;margin-right:10px;float:left;}
.yui-skin-sam .yui-simple-dialog .bd span.blckicon{background-position:0 -1100px;}
.yui-skin-sam .yui-simple-dialog .bd span.alrticon{background-position:0 -1050px;}
.yui-skin-sam .yui-simple-dialog .bd span.hlpicon{background-position:0 -1150px;}
.yui-skin-sam .yui-simple-dialog .bd span.infoicon{background-position:0 -1200px;}
.yui-skin-sam .yui-simple-dialog .bd span.warnicon{background-position:0 -1900px;}
.yui-skin-sam .yui-simple-dialog .bd span.tipicon{background-position:0 -1250px;}

#container_c.yui-overlay-hidden table {*display:none;}
#cal {border:none;padding:1em;}
.datefield {position:relative;top:10px;left:10px;white-space:nowrap;border:1px solid black;background-color:#eee;width:25em;padding:5px;}
.datefield input,.datefield button,.datefield label  {vertical-align:middle;}
.datefield label{font-weight:bold;}
.datefield input{width:15em;}
.datefield button  {padding:0 5px 0 5px;margin-left:2px;}
.datefield button img {padding:0;margin:0;vertical-align:middle;}

/*********************** COMPOSE TASK *****************/

.composeTopCon{ background: #e9f9ff; padding: 10px 0 10px 0; }
.composeCaption{ width: 75px; padding: 0 5px 0 0; text-align: right; vertical-align: middle; font-weight: bold; }
.composeField{ width: auto; }
.composeSpacer{ height: 7px; overflow: hidden; }
#attachmentsContainer{  }
a.attachedFile{ display: block; float: left; background: url(../../main/Control_Panel/Assets/images/icons/attachment.gif) no-repeat -2px 2px; margin: 0 0 5px 0; padding: 0 0 0 13px; }
a.removeAttachedFile{ display: block; float: left; width: 14px; height: 16px; margin: 0 0 5px 5px; background: url(../../main/Control_Panel/Assets/images/icons/delete.gif) no-repeat; text-decoration: none; }
.composeFullWidth{ width: 98%; padding: 3px; font: 13px arial, helvetica, sans-serif; vertical-align: middle; border: 1px solid #b5b5b5; }
.composePhoneBook{ height: 335px; overflow-y: scroll; }
.composePhoneBook span{ display: block; padding: 3px 0 3px 10px; border-bottom: 1px solid #e7e7e7; }
.composePhoneBook input{ margin: 3px 0 0 0; float: left; }
.composePhoneBook label{ margin: 0 0px 0 8px; }
.tooltip-content-flist{text-align:left; line-height:20px; position: absolute; font-weight:normal; width: 570px; border: 1px solid #a7a7a7; background: #fff; color: black; }
#topBarContacts{ padding: 5px 10px 5px 10px; margin: 2px; background: #e0eef8; }
#topBarContacts b{ display: block; float: left; width: 300px; }
#topBarContacts div{ float: right; width: 100px; text-align: right; }

.tooltip-content {display: none; position: absolute; font-weight:normal; width: 450px; padding: 10px; border: 6px solid #cceaff; background: #fff; color: black; margin:-16px 35px 0 0;}
.tooltiptable{border-collapse:collapse; border:0; font-weight:normal; width:450px; background: #fff;}
.tooltiptable td{ border:0; border:solid 0px #999; border-bottom:dashed 1px #000; padding:4px; font-weight:normal; background: #fff; vertical-align:top;}
.tooltiptable .td1{ width:105px; font-weight:bold;}
.tooltiptable .td2{ width:337px;}

.borderedContainer{ width: 98%; padding: 10px 5px 5px 5px; border: 1px solid #dbdce3; margin: 0 0 10px 0; }

.bodyIconSpacing{ margin: 2px 4px 0 0; }
.bodyRemoveLink{ display: block; background: url(../../main/Control_Panel/Assets/images/icons-trans.png) no-repeat -50px -220px; width: 16px; height: 16px; text-decoration: none; margin: 0 0 0 5px; }
.bodyEditLink{ display: block; background: url(../../main/Control_Panel/Assets/images/icons-trans.png) no-repeat -50px -360px; width: 16px; height: 16px; text-decoration: none; margin: 0 0 0 5px; }

.fullWidthTextareaCon{ padding:5px 0px 5px 5px;}
.fullWidthTextarea{ width: 99%; height: 650px; padding: 1px; font: 13px arial, helvetica, 'sans-serif'; }

/******************* STYLES *********************/

a{ color: #0066cc; text-decoration: underline; }
.fullWidth{ width: 100%; }
.normalText{ font-size: 13px; font-weight: normal; }
.smallText{ font-size: 12px; }
.green{ color: #4da800; }
.greenBg{ background: #d5ffce; }
.grayText{ color: #777; }
.red{ color: #ff0000; }
.blue{ color: #0000ff; }

.dialogButtons{ text-align: right; }
.dialogButtons div{ float: right; margin: 15px 0 5px 0; }
.floatLeft{ float: left; }
.floatRight{ float: right; }
hr{ width: 100%; border: none; height: 1px; background: #ccc; color: #ccc; margin: 7px 0 15px 0; }

/************************** ALERTS & ERRORS *************************/

.pageTopError{ background: #ffebe8; border: 1px solid #dd3c10; padding: 0;; color: #3e4456; }
.formError{ color: #ff0000; }
.errorLeftTd{ width: 15px; padding: 11px 12px 0 9px; }
.errorRightTd{ width: auto; padding: 9px 0 8px 0; line-height: 20px; color: #3e4456; }
.errorHeading{ color: #5e1400; font-weight: bold; }

.pageTopSuccess{ background: #d5ffce; border: 1px solid #18b200; padding: 0; color: #3e4456; }
.successHeading{ color: #0f6002; font-weight: bold; }
.pageTopNotification{ background: #ffffcc; border: 1px solid #a6982b; padding: 0; color: #3e4456; }
.notificationHeading{ color: #555239; font-weight: bold; }

/****************** FORM RELATED *******************/

input{ font: inherit; }
.formTitleDiv{ border-top: 1px solid #b5d1e6; border-bottom: 1px solid #b5d1e6; background: #e9f9ff; padding: 5px 0 4px 11px; font-size: 16px; }
.formDiv{ margin: 0 0 20px 0; }
.formDiv td{ vertical-align: middle; padding-bottom: 7px; }
.formVerticalSpacer{ height: 7px; overflow: hidden; }
.formCaptionTd{ padding:  6px 11px 6px 50px; text-align: right; }
.formFieldTd{ height: 24px; }
.smallMessage{ padding:0 0 10px 0; font-size: 12px; line-height: 13px; color: #666; }

.standardCheckBox{ margin:0 5px 0 0; width:13px; height:13px; overflow:hidden; }
.standardCheckBox label{ margin: 0 0px 0 3px; }
.standardField{ width: 180px; 
padding: 2px 2px 2px 2px; margin: 0 5px 0 0; }
.standardFieldLong{ width: 685px; margin: 0 5px 0 0; padding: 3px; font: 13px arial, helvetica, sans-serif; vertical-align: middle; border: 1px solid #b5b5b5; }
.autoWidth{ width: auto; }
.standardTextarea{ padding: 1px; font: inherit; margin: 0 5px 0 0; overflow-y:scroll; }
.standardRadio input{ margin: 2px 2px 0 0; }
.standardRadio label{ margin: 0 0 0 3px; }
.standardCheck input{ margin: 0 2px 0 0; }
.standardCheck label{ margin: 0 0 0 3px; }
.standardFormButton{ padding: 2px 6px 2px 5px; margin: 5px 5px 5px 0; }
select.standardSelect{ font: inherit; margin: 0 5px 0 0; }
select.standardSelect option{ padding: 0 10px 0 3px; }
#mainContentDiv input.standardInputButton{ font-size: inherit; padding: 0 6px 0 5px; }

.uploadFileLeft{ float: left; }
.uploadFileInput{ width: 81px; height: 23px; background: url(../../main/Control_Panel/Assets/images/upload-file.gif) no-repeat; border: 0; cursor: pointer; overflow: hidden; }
.uploadFileRight{ float: left; padding: 4px 0 0 10px; }
.uploadFileRight a{ text-decoration: none; }

.fullWidthField{ width: 99%; padding: 2px 0 2px 1px; font: 13px arial, helvetica, 'sans-serif'; vertical-align: middle; border: 1px solid #dbdce3; }
.informationIconCon{ display: block; float: right; cursor: help; margin: 0 5px 0 0; }
.captionWithInfo{ display: block; float: right; }

/***************** Messaging ***************/

#messagesContainer{  }
#messagesContainer h1{ font-size: 20px; font-weight: normal; margin: 5px 0 10px 0; }
#messagesContainer hr{ height: 2px; background: #d5d5d5; }
#messageActions{ border: 1px solid #efefef; padding: 8px; background: #efefef; margin: 7px 0 0 0; }
#messageDetails{ border: 1px solid #ccc; background: #ffffcc; padding: 10px 10px 8px 10px; line-height: 20px; }
.messageDetailserror{ border: 1px solid #ccc; background: #ffffcc; padding: 10px 10px 8px 10px; line-height: 20px; }
.messageControls{ margin: 0 0 8px 0; }

.closedMessage{ margin: 5px 0 0 0; background: #fff; border: 1px solid #fff; padding: 8px 10px 8px 10px; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }

.closedMessageRight{ display: block; float: right; width: 310px; text-align: right; overflow: hidden; background: red; }
.openMessage{ margin: 5px 0 0 0; background: #fff; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; padding: 8px 10px 8px 10px; }
.messageReply{  }
.messagingDetailsCol-1{ line-height: 20px; padding: 0 15px 0 0; }
.messagingDetailsCol-2{ line-height: 20px; padding: 0 100px 0 0; }
.messagingDetailsCol-3{ line-height: 20px; padding: 0 15px 0 0; }
.messagingDetailsCol-4{ line-height: 20px; }

/*************/

.messageStandardTable{ width: 100%; margin: 5px 0 0 0; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; background: #ffffcc; }
.messageContentArea{ background: #fff; }
.messageLeftTd{ width: 50%; height: 18px; font-weight: bold; padding: 8px 0 8px 10px; }
.messageRightTd{ width: 50%; text-align: right; padding: 8px 0 8px 0; }
.messageRightDate{ float: right; text-align: right; }
.messageExpandedTd{ padding: 10px; }
.messageExpandedDiv{ }
a.messageExpand{ display: block; float: right; width: 15px; height: 18px; margin: 0 10px 0 10px; background: url(../../main/Control_Panel/Assets/images/icons/up-down.gif) no-repeat; text-decoration: none; overflow: hidden; }
a.messageCollapse{ background-position: 0 -18px; }
.messageAttachments{ border-top: 1px solid #ccc; margin: 20px 0 0 0; padding: 10px 0 0 0; }
.messageAttachments b{ display: block; margin: 0 0 5px 0; }
.messageAttachments span{ display: block; margin: 1px 0 0 0; }

/******************** GRIDS ********************/

#inboxGrid{ width: 100%; border-bottom: 1px solid #d6d6d6; margin: 9px 0 7px 0; border-collapse: collapse; }
#inboxGrid td{ height: 24px; vertical-align: middle; border-top: 1px solid #d6d6d6; }
#inboxGrid a{ color: #333; text-decoration: none; }

#inboxGrid td.checkboxTd{ width: 20px; padding: 0 0 0 10px; }
#inboxGrid td.inboxAttach{ width: 19px; background-image: url(../../main/Control_Panel/Assets/images/icons/grid-icons.gif); background-repeat: no-repeat; background-position: 0 5px; }
#inboxGrid td.inboxFrom{ width: 230px; }
#inboxGrid td.inboxSubject{ width: 260px; padding: 0 0 0 0; }
#inboxGrid td.inboxType{ width: auto; padding: 0 15px 0 0; text-align: right; }
#inboxGrid td.inboxDate{ width: 70px; padding: 0 8px 0 0; text-align: left; }

#inboxGrid .boldedRow td{ font-weight: bold; }
#inboxGrid .todaysDue td.inboxDate{ color: #ff0000; }
#inboxGrid .selectedRow{ background: #ffffcc; }
#inboxGrid tr:hover{ cursor:pointer; background: #f3faff; }

.smallGrid{ margin: 10px 0 0 0; }
.smallGrid td{ background: #f5f5f5; padding: 4px 7px 4px 7px; border: none; }
.smallGrid td td{ padding: 0; }
.smallGrid .smallGridHead td{ background: #1a87cc; color: #fff; }
.smallGrid .smallGridHead td a{ color: #fff; text-decoration: underline; }
.smallGrid .smallGridHead:hover td{ background: #1a87cc !important; }
.smallGrid .smallgvHead th{ background: #1a87cc; color: #fff; font-weight: normal; text-align: left; padding: 4px 7px 4px 7px;}
.smallGrid .smallgvHead th a{ color: #fff; text-decoration: underline; }
.smallGrid .smallgvHead:hover th{ background: #1a87cc; }
.smallGrid .smallGridAlt td{ background: #e5e5e5; }
.smallGrid tr:hover{ background: #cceaff; }
.smallGrid tr:hover td{ background: none !important; }
.smallGrid .smallGridControls tr:hover, .smallGrid .smallGridControls td:hover, .smallGrid .smallGridControls td{ background: #fff; }
.smallGrid .smalLGridFooter tr:hover, .smallGrid .smalLGridFooter td:hover{ background: #f3f3f3; }
.smallGrid a{ text-decoration: none; }
.smallGridControls a{ text-decoration: underline; }
.smallGridSearch{ display: block; float: left; width: 22px; height: 22px; background: url(../../main/Control_Panel/Assets/images/icons/search.gif) no-repeat; }
.smallGridSearchInput{ float: left; width: 172px; padding: 2px 1px 2px 1px; border: 1px solid #1a87cc; border-right: 0; }

a.level-2,div.level-2{ padding: 0 0 0 20px; background: url(../../main/Control_Panel/Assets/images/icons/sub-item.gif) no-repeat; }
a.level-3,div.level-3{ padding: 0 0 0 20px; margin: 0 0 0 20px; background: url(../../main/Control_Panel/Assets/images/icons/sub-item.gif) no-repeat; }
a.level-4{ padding: 0 0 0 20px; margin: 0 0 0 40px;  background: url(../../main/Control_Panel/Assets/images/icons/sub-item.gif) no-repeat; }

.gridControlsCheck{ padding: 2px 7px 0 0; width: 18px; }
.gridControlsRight{ width: 78px; }
.gridMenu{ float: left; color: #666; padding: 3px 10px 0 0; }
.gridBreadCrumb{ line-height: 20px; clear: both; }
.smallGridControls td{ padding-left: 0; padding-right: 0; }

/********************* CMS GRIDS ************************/

a.moveUp{ display: block; width: 15px; height: 14px; background: url(../images/icons.png) no-repeat -50px 0px; overflow: hidden; }
a.moveUp:hover{ background-position: 0 0px; }
a.moveDown{ display: block; width: 15px; height: 14px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -50px -20px; overflow: hidden; }
a.moveDown:hover{ background-position: 0 -20px; }
a.reOrder{ display: block; width: 15px; height: 14px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -50px -311px; overflow: hidden; }
a.reOrder:hover{ background-position: 0 -311px; }
a.pagePublished{ display: block; width: 16px; height: 16px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -50px -40px; text-decoration: none; overflow: hidden; }
a.pagePublished:hover{ background-position: 0 -40px; }
a.pageOffline{ display: block; width: 16px; height: 16px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -50px -60px; text-decoration: none; overflow: hidden; }
a.pageOffline:hover{ background-position: 0 -60px; }
a.pageUnderConstruction{ display: block; width: 16px; height: 16px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -50px -333px; overflow: hidden; }
a.editTitle{ display: block; float: left; width: 16px; height: 16px; margin: 0 0 0 10px; background: url(../../main/Control_Panel/Assets/images/icons/pencil.png) no-repeat; overflow: hidden; }
a.deleteIcon{ display: block; float: left; width: 14px; height: 16px; background: url(../../main/Control_Panel/Assets/images/icons/delete.gif) no-repeat; text-decoration: none; }
a.addSubPage{ display: block; float: left; width: 16px; height: 16px; margin: 0 0 0 10px; background: url(../../main/Control_Panel/Assets/images/icons/add-subpage.png) no-repeat; text-decoration: none; }

a.plusIcon{ display: block; background: url(../../main/Control_Panel/Assets/images/expand-left-menu.gif) no-repeat; width: 11px; height: 11px; overflow: hidden; }
a.subtractIcon{ background-position: 0 -54px; }
.folderLink{ display: block; width: 16px; height: 16px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -78px; overflow: hidden; }
.refresh{ height: 17px; padding: 0 0 3px 19px; margin-right: 12px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -50px -121px; color: #000; text-decoration: none; border: none; cursor: pointer; overflow: hidden; }
.directoryUp{ display: block; height: 17px; padding: 0 0 3px 19px; margin-right: 12px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -50px -98px; color: #000; text-decoration: none; border: none; cursor: pointer; overflow: hidden; }
.standardFile{ display: block; width: 16px; height: 16px; background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -142px; text-decoration: none; overflow: hidden; }
.excelFile{ background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -165px; }
.flashFile{ background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -188px; }
.wordFile{ background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -211px; }
.powerpointFile{ background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -234px; }
.compressedFile{ background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -257px; }
.acrobatFile{ background: url(../../main/Control_Panel/Assets/images/icons.png) no-repeat -51px -281px; }

.radioButtonIconActive{ display: block; float: left; width: 12px; height: 12px; background: url(../../main/Control_Panel/Assets/images/icons/radio-buttons.gif) no-repeat; overflow: hidden; }
.radioButtonIcon{ display: block; float: left; width: 12px; height: 12px; background: url(../../main/Control_Panel/Assets/images/icons/radio-buttons.gif) no-repeat -12px 0; overflow: hidden; }
.radioButtonIconActive:hover, .radioButtonIcon:hover{ background-position-y: -12px; }

/**************** HELP ****************/

#rightSection .highlightBox{ background: #f0f0f0; border: 1px solid #ccc; padding: 18px 10px 15px 10px; margin: 7px 0 10px 0; font-size: 14px; line-height: 18px; }
#rightSection .highlightBox h1{ font-size: 16px; font-weight: bold; color: #024686; margin: 0px 0 8px 0; }
#rightSection #mainContentDiv .highlightBox ul{ margin: 0 0 17px 30px; line-height: 16px; }
#rightSection #mainContentDiv .highlightBox ul li{ margin: 7px 0 0 0; }
#rightSection #mainContentDiv .highlightBox ol{ margin: 0 0 17px 30px; line-height: 16px; }
#rightSection #mainContentDiv .highlightBox ol li{ margin: 7px 0 0 0; }

/******************* VIEW ORDER **************************/

.invoice{ border: 1px solid #ccc; }
.invoice_head{ background: #dfdfdf; padding: 6px; color: #7e7e7e; font-weight: bold; border-right: 1px solid #ccc; }
.invoice_cell{ padding: 4px; color: #333; valign: top; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.invoice_quantity{ border-top: 1px solid #666; border-left: 1px solid #666; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; width: 34px; height: 20px; padding: 0px; }
.invoice_quantity{ width: 30px; height: 16px; }
.invoice_shipping{ width: 200px; }
.inv{ width: 88px;}

.pagingDiv{ padding: 10px 0 10px 0; }
.firstPage{ display: block; float: left; width: 13px; height: 13px; margin: 1px 5px 0 0; background: url(../../main/Control_Panel/Assets/images/icons/first-page.gif) no-repeat; text-decoration: none; overflow: hidden; }
.prevPage{ display: block; float: left; width: 12px; height: 13px; margin: 1px 5px 0 0; background: url(../../main/Control_Panel/Assets/images/icons/prev-page.gif) no-repeat; text-decoration: none; overflow: hidden; }
.nextPage{ display: block; float: left; width: 12px; height: 13px; margin: 1px 0 0 5px; background: url(../../main/Control_Panel/Assets/images/icons/next-page.gif) no-repeat; text-decoration: none; overflow: hidden; }
.lastPage{ display: block; float: left; width: 13px; height: 13px; margin: 1px 0 0 5px; background: url(../../main/Control_Panel/Assets/images/icons/last-page.gif) no-repeat; text-decoration: none; overflow: hidden; }
.middlePages{ float: left; }

.displayItems{ margin: 10px 0 0 0; }

.popupHeader{ background: #efefde; border-bottom: 1px solid #ccc; padding: 10px 0 0 10px; }
.popupHeader .formDiv{ margin: 0; }
.popupHeader .formCaptionTd{ text-align: left; padding-left: 0; }
.popupContent{ padding: 0 10px 0 10px; margin: 10px 0 10px 0; overflow-y: scroll; }

/************** Developer ****************/
.standardDateField{ width: 230px; padding: 2px 0 2px 1px; font: 13px 'sans-serif', verdana, helvetica, sans-serif; margin: 0 5px 0 0; border: 1px solid #dbdce3;}
textarea{ width: 98%; padding: 3px; font: 13px arial, helvetica, sans-serif; vertical-align: middle; border: 1px solid #dbdce3; overflow:hidden; }
texteditor{ width: 90%; padding: 3px; font: 13px arial, helvetica, sans-serif; vertical-align: middle; border: 1px solid #dbdce3; overflow:hidden; }
#ctl00_DefaultContent_tbxdetails iframe{ padding:0px; margin:0px; outline-color:#000; outline-width:1px; border:solid 1px #000; }
.gridTable tr:hover{ cursor:pointer; background: #cceaff; }
#ui-datepicker-div{z-index: 300;}
.hidecontrol{ display:none;}
.codemirror_bodycode{ width:100px;}
.codetextarea{ height:600px; border:solid 1px #cc;}
.smallTextarea{ width: 99%; height: 400px; padding: 3px; font: 13px arial, helvetica, sans-serif; vertical-align: middle; border: 1px solid #b5b5b5; }

.pageTopStatus{ background: #aae8aa; border: 1px solid #56b60a; padding: 0 0 0 0px; color: #0c500c; }
.statusLeftTd{ width: 15px; padding: 11px 12px 0 9px; }
.statusRightTd{ width: auto; padding: 9px 0 8px 0; line-height: 20px; color: #0c500c; }
.statusHeading{ font-weight: bold; font-size: 12px; }
.statusRightTd a{ color: #428142; text-decoration: none; }
.statusLightFont{ color: #428142; }

.standardCheckBoxListH input { margin:0 5px 0 0;width:13px;height:13px;overflow:hidden; }
.standardCheckBoxListH label{ margin: 0 20px 0 3px; }
.standardCheckBoxListV input { margin:0 5px 0 0;width:13px;height:13px;overflow:hidden; }
.standardCheckBoxListV label{ margin: 0 0px 0 3px; }

.standardRadioListH input{ margin: 2px 2px 0 0; }
.standardRadioListH label{ margin: 0 20px 0 3px; }
.standardRadioListV input{ margin: 2px 2px 0 0; }
.standardRadioListV label{ margin: 0 0 0 3px; }
.standardField-large{ width: 400px; padding: 1px; margin: 0 5px 0 0; }
.textareaBulkUpdate{ width: 185px; height:80px; padding: 3px; font: 13px arial, helvetica, sans-serif; vertical-align: middle; border: 1px solid #b5b5b5;}

td.dragHandle {
    
}
td.showDragHandle {
	background-image: url(../../main/Control_Panel/Assets/images/updown2.gif);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
}

.pg-title{ width:200px;}
.pg-description{ width:200px; height:30px;}
.rad-upload{ margin:-10px 0px -10px -30px; padding:0px 0px 0px 0px;}
.lowerCaseField{ text-transform:lowercase;}

.ruInputs {height:auto !important;}
.ruInputs li {float:none !important;}

.TextBoxSett{
padding: 0 0 0 2px;
border-radius: 3px;


height: 24px;
width: 162px;

}
