@charset "utf-8";
/* CSS Document */

.style { }
body { padding: 0px; margin: 0px; font-family: Arial, Helvetica, sans-serif; }
title{ display:none;}
.clear { clear: both; }
.receiptCont { width: 285px; min-height: 300px; border-right: 1px dotted #000; float: left; padding:0 5px }
.header { height: auto; }
.header img { width:100%; }
.header p { float: left; text-align: center; font-size: 9px; margin: 0px }
.header p b { font-size: 13px; }
.tablehead { height: 25px; border-top: 2px solid #000; border-bottom: 1px solid #000; padding: 0 8px; }
.tablehead h2 { float: left; font-size: 15px; padding: 0px; margin: 0px; line-height: 27px; }
.tablehead h2+h2 { float: right; font-size: 14px; padding: 0px; margin: 0px; line-height: 26px; text-align: center; }
.tablehead table { margin: 7px 0 0 0; font-size: 14px; float: left; }
.tablehead table th { text-align: left; width: 82px; }
.tablehead table td { text-align: left; width: 82px; padding: 0 4px;}
.tablehead table .name { width: 100% !important; margin: 10px 0 0 0 !important; padding: 10px 3px 0 !important; font-size: 13px; }
.tablehead table .name span { font-size: 13px; }
.tablehead table .fname { width: 100% !important; margin: 3px 0 0 0 !important; padding: 3px 4px 10px 4px !important; font-size: 13px; }
.tablehead table .fname span { font-size: 13px; }
.feedetail { font-size: 14px; }
.feedetail td { border-bottom: 1px solid #000; padding: 2px 6px; }
.total { font-size: 14px; border-top: 1px solid #000; border-bottom: 2px solid #000; padding: 3px 0; }
.total td { font-weight: bold; }
.total td+td { font-weight: lighter }
.total td+td+td { font-weight: bold; text-align: right }
.total td+td+td+td { text-align: right; font-weight: lighter }
.validtotal { font-size: 13px; margin: 10px 0 0 0; padding: 0 3px;  }
.validtotal tr td {  }
.validtotal tr+tr td+td { text-align:right;  }
.validtotal tr td+td+td { font-weight: bold; text-align: right }
.validtotal tr td+td+td+td { text-align: right; font-weight: bold }
.signature { font-size: 14px; font-weight: bold; }
.signature td { border-top: 1px solid #000; }
.color{ color:#666}
.feedetail tr td{ padding-top:3px; padding-bottom:3px; padding-left: 11px;}
.feedetail tr td+td{ text-align:right}
.totalAm{ background:#d9d9d9;}
.totalAm td{ border-bottom:2px solid #000;}
.noboarder{ border:none;}
@media print {
tr.totalAm {
                background-color: #d9d9d9 !important;
                -webkit-print-color-adjust: exact; 
}}
